@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Alef-Regular";
  src: url("./fonts/Alef-Regular.ttf") format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Alef-Regular", sans-serif;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("../../public/videoCallingBg.jpeg");
  background-size: cover;
}

.roomPageBg {
  background-image: url("https://community-assets.home-assistant.io/original/3X/d/e/dea8c60d19e758c8744437e7b91b73c10ad0e030.jpeg");
  background-size: cover;
}
